%%% -*- mode: erlang -*-
{erl_opts,
 [debug_info,
  {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{deps,
 [ {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
   {ezk, ".*", {git, "https://github.com/puzza007/ezk.git", {branch, "drop-logging-levels"}}}
 ]}.
